img {
    width: 30%;
    margin: calc(10%/6);
}
nav {
    width: 30%;
    margin-left: calc(10%/6);
    padding:20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #f1f1f1;
}